<!DOCTYPE html>
<html>

<head>
    <title>Baza podataka</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Popis 15 košarkaških klubova koji sadrži i 3 igrača te trenera svakog kluba">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Borna Radojčić">
    <meta name="keywords" content="Basketball, košarka, klubovi, klub, igrač, trener, NBA">
    <link rel="icon"
        href="https://cdn-icons.flaticon.com/png/512/657/premium/657695.png?token=exp=1636589739~hmac=6906a3060934ca3b3f5d68187e8ab6f1"
        type="image/png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Montserrat", sans-serif
        }

        .w3-row-padding img {
            margin-bottom: 12px
        }

        .w3-sidebar {
            width: 120px;
            background: #222;
        }

        #main {
            margin-left: 120px
        }

        @media only screen and (max-width: 600px) {
            #main {
                margin-left: 0
            }
        }

        input:focus {
            outline: none !important;
            border-color: white;
            box-shadow: 0 0 10px white;
        }
    </style>

    <script type="text/javascript">
        function filtriraj() {
            $(document).ready(function () {

                $('form').on('submit', function (e) {
                    // validation code here
                    e.preventDefault();
                    var input, filter, table, tr, td, i;
                    input = document.getElementById("search");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("datatable");
                    var rows = table.getElementsByTagName("tr");
                    var choice = document.getElementById("searchdrop").value;
                    csv = [];
                    csv.push("idklub,imeklub,arenaklub,savdrzava,godosnutka,imeigrac,prezimeigrac,brojdresa,pozicijaigrac,uni_hs_club,imetrener,prezimetrener");
                    for (i = 0; i < rows.length; i++) {
                        var cells = rows[i].getElementsByTagName("td");
                        var j;
                        var rowContainsFilter = false;
                        csv_row = [];

                        for (j = 0; j < cells.length; j++) {
                            if (cells[j]) {
                                if ((choice == "idklub" && j == 0) || (choice == "imeklub" && j == 1) || (choice == "arenaklub" && j == 2) || (choice == "savdrzava" && j == 3) || (choice == "godosnutka" && j == 4) || (choice == "imeigrac" && j == 5) || (choice == "prezimeigrac" && j == 6) || (choice == "brojdresa" && j == 7) || (choice == "pozicijaigrac" && j == 8) || (choice == "uni_hs_club" && j == 9) || (choice == "imetrener" && j == 10) || (choice == "prezimetrener" && j == 11) || choice == "svi") {
                                    if (cells[j].innerHTML.toUpperCase().indexOf(filter.trim()) > -1 && cells[j].innerText.trim().length == filter.trim().length) {
                                        rowContainsFilter = true;
                                        for (z = 0; z < cells.length; z++) {
                                            txt = cells[z].innerText;
                                            csv_row.push(txt.replace(",", "-"));
                                        }
                                    }

                                }
                            }
                        }
                        if (rowContainsFilter) {
                            csv.push(csv_row.join(","));
                            output = csv.join("\n")
                        }


                        if (!rowContainsFilter) {
                            rows[i].style.display = "none";
                        } else {
                            rows[i].style.display = "";

                        }
                    }



                });


            });


        }
        function csvbtn() {
            if (typeof output !== 'undefined') {
                var hiddenElement = document.createElement('a');
                hiddenElement.href = 'data:attachment/csv,' + encodeURI(output);
                hiddenElement.target = '_blank';
                hiddenElement.download = 'kosarkaski_klubovi.csv';
                hiddenElement.click();
            } else {
                table = document.getElementById("datatable");
                var rows = table.getElementsByTagName("tr");

                csv = [];
                csv.push("idklub,imeklub,arenaklub,savdrzava,godosnutka,imeigrac,prezimeigrac,brojdresa,pozicijaigrac,uni_hs_club,imetrener,prezimetrener");
                for (i = 0; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName("td");
                    var j;
                    var rowContainsFilter = false;
                    csv_row = [];
                    for (j = 0; j < cells.length; j++) {
                        txt = cells[j].innerText;
                        csv_row.push(txt.replace(",", "-"));
                    } csv.push(csv_row.join(","));
                    output = csv.join("\n")
                }
                var hiddenElement = document.createElement('a');
                hiddenElement.href = 'data:attachment/csv,' + encodeURI(output);
                hiddenElement.target = '_blank';
                hiddenElement.download = 'kosarkaski_klubovi.csv';
                hiddenElement.click()

            }
        }

        function jsonbtn() {
            if (typeof output === 'undefined') {
                table = document.getElementById("datatable");
                var rows = table.getElementsByTagName("tr");

                csv = [];
                csv.push("idklub,imeklub,arenaklub,savdrzava,godosnutka,imeigrac,prezimeigrac,brojdresa,pozicijaigrac,uni_hs_club,imetrener,prezimetrener");
                for (i = 0; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName("td");
                    var j;
                    var rowContainsFilter = false;
                    csv_row = [];
                    for (j = 0; j < cells.length; j++) {
                        txt = cells[j].innerText;
                        csv_row.push(txt.replace(",", "-"));
                    } csv.push(csv_row.join(","));
                    output = csv.join("\n")
                }
              

            }

            var lines = output.split("\n");

            var result = [];
            var headers = lines[0].split(",");

            for (var i = 1; i < lines.length; i++) {

                var obj = {};
                var currentline = lines[i].split(",");

                for (var j = 0; j < headers.length; j++) {
                    obj[headers[j]] = currentline[j];
                }
                result.push(obj);
            }
           var hiddenElement = document.createElement('a');
                hiddenElement.href = 'data:attachment/json,' + encodeURI(JSON.stringify(result));
                hiddenElement.target = '_blank';
                hiddenElement.download = 'kosarkaski_klubovi.json';
                hiddenElement.click()
        }




    </script>


    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>

</head>

<body class="w3-black">
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-home w3-xxlarge"></i>
            <p>HOME</p>
        </a>
        <a href="/db" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fa fa-database w3-xxlarge"></i>
            <p>DATABASE</p>
        </a>
        <a href="/profile" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-user w3-xxlarge"></i>
            <p>PROFILE</p>
        </a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-floppy-o w3-xxlarge"></i>
            <p>REFRESH DATA</p>
        </a>
        <a href="/logoutt" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-times  w3-xxlarge"></i>
            <p>LOGOUT</p>
        </a>
        
    </nav>

    <div class="w3-padding-large" id="main">
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo">Baza podataka</h1>
            <h5>Ovdje možete vidjeti moju bazu podataka u obliku tablice, filtrirati po njoj kako god želite i
                pregledati te podatke u CSV ili JSON obliku</h5>
        </header>
    </div>

    <div>
        <form method="post">
            <fieldset style="margin:0px 0px 0px 250px; width: 80.6%">
                <legend></legend>
                <label for="search" style="font-weight: bold">Polje za pretragu</label><br>
                <input type="text" id="search" name="fname" placeholder="Unesite vrijednost"
                    style="margin-top: 5px; margin-bottom: 20px;"><br>
                <label for="searchdrop" style="font-weight: bold">Odaberite po kojem atributu tablice
                    pretražujete</label><br>
                <select required id="searchdrop" name="dropdown" style="margin-top: 2px">
                    <option value="" selected hidden>Odaberite atribut za pretragu</option>
                    <option value="svi">Svi atributi (Wildcard)</option>
                    <option value="idklub">idklub</option>
                    <option value="imeklub">imeklub</option>
                    <option value="arenaklub">arenaklub</option>
                    <option value="savdrzava">savdrzava</option>
                    <option value="godosnutka">godosnutka</option>
                    <option value="imeigrac">imeigrac</option>
                    <option value="prezimeigrac">prezimeigrac</option>
                    <option value="brojdresa">brojdresa</option>
                    <option value="pozicijaigrac">pozicijaigrac</option>
                    <option value="uni_hs_club">uni_hs_club</option>
                    <option value="imetrener">imetrener</option>
                    <option value="prezimetrener">prezimetrener</option>
                </select><br>
                <input type="submit" id="submit" value="Pretraži" style="font-weight: bold; margin-top: 370px"
                    onclick="filtriraj()">
            </fieldset>
        </form>

        <div class="row">

            <table border="1" style="margin-left:250px; width: 80.6%; ">

                <tr>
                    <th>idklub</th>
                    <th>imeklub</th>
                    <th>arenaklub</th>
                    <th>savdrzava</th>
                    <th>godosnutka</th>
                    <th>imeigrac</th>
                    <th>prezimeigrac</th>
                    <th>brojdresa</th>
                    <th>pozicijaigrac</th>
                    <th>uni_hs_club</th>
                    <th>imetrener</th>
                    <th>prezimetrener</th>
                </tr>

                <tbody id="datatable">
                    <% if(data.length> 0){ %>

                        <% for ( var i=0 ; i < data.length ; i++){ %>
                            <tr>
                                <td id="idklub">
                                    <%= data[i].idklub%>
                                </td>
                                <td id="imeklub">
                                    <%= data[i].imeklub%>
                                </td>
                                <td id="arenaklub">
                                    <%= data[i].arenaklub%>
                                </td>
                                <td id="savdrzava">
                                    <%= data[i].savdrzava%>
                                </td>
                                <td id="godosnutka">
                                    <%= data[i].godosnutka%>
                                </td>
                                <td id="imeigrac">
                                    <%= data[i].imeigrac%>
                                </td>
                                <td id="prezimeigrac">
                                    <%= data[i].prezimeigrac%>
                                </td>
                                <td id="brojdresa">
                                    <%= data[i].brojdresa%>
                                </td>
                                <td id="pozicijaigrac">
                                    <%= data[i].pozicijaigrac%>
                                </td>
                                <td id="uni_hs_club">
                                    <%= data[i].uni_hs_club%>
                                </td>
                                <td id="imetrener">
                                    <%= data[i].imetrener%>
                                </td>
                                <td id="prezimetrener">
                                    <%= data[i].prezimetrener%>
                                </td>
                            </tr>
                            <% } %>

                                <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <div class=" w3-text-grey " id="preuzimanja" style="margin-left:250px; margin-top: 30px;">
        <h3 class="w3-text-white">Preuzimanja</h3>
        <hr style="width:200px">
        <h5 class="w3-text-light-grey">Ovdje možete preuzeti moju filtriranu bazu u obliku CSV ili JSON datoteke
        </h5>
    </div>
    <div class="  w3-text-grey" id="files" style="margin-left:240px">
        <button id="csv" onclick="csvbtn()" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fas fa-file-csv w3-xxlarge"></i>
            <p>CSV</p>
        </button>
        <button id="json" onclick="jsonbtn()" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fab fa-js-square w3-xxlarge"></i>
            <p>JSON</p>
        </button>

    </div>



</body>

</html>