<!DOCTYPE html>
<html>
<head>
<title>Košarkaški klubovi</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="description" content="Popis 15 košarkaških klubova koji sadrži i 3 igrača te trenera svakog kluba">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Borna Radojčić">
<meta name="keywords" content="Basketball, košarka, klubovi, klub, igrač, trener, NBA">
<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/921/921234.png" type="image/png">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Montserrat", sans-serif
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }

    .w3-sidebar {
        width: 120px;
        background: #222;
    }

    #main {
        margin-left: 120px
    }

    @media only screen and (max-width: 600px) {
        #main {
            margin-left: 0
        }
    }
</style>





</head>

<body class="w3-black">
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <% if (locals.user) { %>
            <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                <i class="fa fa-home w3-xxlarge"></i>
                <p>HOME</p>
            </a>
            <a href="/db" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                <i class="fa fa-database w3-xxlarge"></i>
                <p>DATABASE</p>
            </a>
            <a href="/profile" class="w3-bar-item w3-button w3-padding-large w3-black">
                <i class="fa fa-user w3-xxlarge"></i>
                <p>PROFILE</p>
            </a>
            <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                <i class="fa fa-floppy-o w3-xxlarge"></i>
                <p>REFRESH DATA</p>
            </a>
            <a href="/logoutt" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                <i class="fa fa-times w3-xxlarge"></i>
                <p>LOGOUT</p>
            </a>
        <% } else { %>
            <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                <i class="fa fa-key w3-xxlarge"></i>
                <p>LOGIN</p>
            </a>
        <% } %>
    </nav>

    <div class="w3-padding-large" id="main">
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo">Korisnički profil</h1>
            <h5>Pozdrav <%= user.nickname %>, ovdje možete vidjeti sve svoje korisničke podatke</h5>
        </header>
       
        <div class="w3-content w3-justify w3-text-grey w3-padding-10" id="klub">
            <% if (user.picture) { %>
                <img class="block py-3" src="<%= user.picture %>" width="250">
            <% } %>
            <h2 class="w3-text-white">Nadimak: <%= user.nickname %> </h2>
            <h2 class="w3-text-white">Ime: <%= user.name %> </h2>
            <h2 class="w3-text-white">E-mail: <%= user.email %> </h2>
            <h2 class="w3-text-white">E-mail potrvđen: <%= user.email_verified %> </h2>
            <h2 class="w3-text-white">Zadnja prijava: <%= user.updated_at %> </h2>
        </div>
    </div>
</body>

</html>